openapi: 3.0.1
info:
  title: UBSS API DOCUMENT
  version: 1.0.0
  description: '結合 php team , node Js team api 文件，如果有文件上的疑慮，可以點上方原始文件連結確認，是否是轉譯的時候發生錯誤，還是原始文件無定義清楚。'
servers:
  - url: 'http://alpha-api-ubss.udnshopping.com'
    description: the alpha server api
  - url: 'http://beta-api-ubss.udnshopping.com'
    description: the beta server api
tags:
  - name: AuthGroup
    description: AuthGroup
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php docå
  - name: Auth
    description: Auth
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: ChannelStore
    description: ChannelStore
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Channel
    description: Channel
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Common
    description: Common
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Employee
    description: Employee
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: ImportLog
    description: ImportLog
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Navigation
    description: Navigation
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Partner
    description: Partner
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Product
    description: Product
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Promotion
    description: Promotion
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: PurchaseInvoice
    description: PurchaseInvoice
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: PurchaseLog
    description: PurchaseLog
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: PurchaseStorage
    description: PurchaseStorage
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Purchase
    description: Purchase
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Receipt
    description: Receipt
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: SalesCategory
    description: SalesCategory
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: StockDiff
    description: StockDiff
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: StockUnit
    description: StockUnit
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Stock
    description: Stock
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Vendor
    description: Vendor
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: Warehouse
    description: Warehouse
    externalDocs:
      url: 'http://35.221.251.217:8080/job/UBSS/API_20DOC'
      description: php doc
  - name: CMS
    description: CMS
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: MemberLevel
    description: MemberLevel
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: Member
    description: Member
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: StoreLayout_APP_Module
    description: StoreLayout_APP_Module
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: StoreLayout_APP_layout
    description: StoreLayout_APP_layout
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: StoreLayout_APP_source
    description: StoreLayout_APP_source
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
  - name: app_layout_render
    description: app_layout_render
    externalDocs:
      url: 'http://35.189.170.116:8000/apidoc'
      description: nodeJs doc
paths:
  /admin/v1/auth_group:
    delete:
      tags:
        - AuthGroup
      summary: 刪除權限群組
      description: deleteAuthGroup
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
    get:
      tags:
        - AuthGroup
      summary: 取得權限群組清單
      description: getAuthGroupList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAuthGroupListSuccssResponse'
      parameters:
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位id</p>
        - in: query
          name: keyword_type
          schema:
            type: string
          description: <p>搜尋欄位</p>
        - in: query
          name: keyword
          schema:
            type: string
          description: <p>搜尋內容</p>
        - in: query
          name: current_page
          schema:
            type: string
          description: <p>當前頁碼</p>
        - in: query
          name: limit
          schema:
            type: string
          description: <p>顯示筆數</p>
        - in: query
          name: sort
          schema:
            type: string
          description: <p>排序方式</p>
        - in: query
          name: order_by
          schema:
            type: string
          description: <p>排序欄位</p>
    post:
      tags:
        - AuthGroup
      summary: 新增權限群組
      description: postAuthGroup
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
  '/admin/v1/auth_group/{auth_group_id}':
    get:
      tags:
        - AuthGroup
      summary: 取得單一權限群組
      description: getAuthGroup
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAuthGroupSuccssResponse'
      parameters:
        - in: path
          name: auth_group_id
          schema:
            type: string
          required: true
          description: <p>權限群組ID</p>
    put:
      tags:
        - AuthGroup
      summary: 更新權限群組
      description: putAuthGroup
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
      parameters:
        - in: path
          name: auth_group_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
  /admin/v1/auth/captcha:
    get:
      tags:
        - Auth
      summary: 取得圖型驗證
      description: getCaptcha
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCaptchaSuccssResponse'
  '/admin/v1/auth/reset_password/{token}':
    get:
      tags:
        - Auth
      summary: 檢查PasswordToken是否有效
      description: getPasswordToken
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPasswordTokenSuccssResponse'
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: <p>重設密碼信給的password token</p>
    put:
      tags:
        - Auth
      summary: 重設密碼
      description: putPasswordToken
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putPasswordTokenSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  description: <p>新密碼</p>
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: <p>重設密碼信給的password token</p>
  /admin/v1/auth/login:
    post:
      tags:
        - Auth
      summary: 登入
      description: login
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account
                - password
              properties:
                account:
                  type: string
                  description: <p>帳號</p>
                password:
                  type: string
                  description: <p>密碼</p>
  /admin/v1/auth/logout:
    post:
      tags:
        - Auth
      summary: 登出
      description: logout
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logoutSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>User access token</p>
          required: true
  /admin/v1/auth/forgot_password:
    post:
      tags:
        - Auth
      summary: 重設密碼信件
      description: postForgotPassword
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postForgotPasswordSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account
                - email
                - captcha_value
                - captcha_key
              properties:
                account:
                  type: string
                  description: <p>帳號</p>
                email:
                  type: string
                  description: <p>信箱</p>
                captcha_value:
                  type: string
                  description: <p>圖形驗證value</p>
                captcha_key:
                  type: string
                  description: <p>圖形驗證key</p>
  /internal/v1/auth/verifyToken:
    post:
      tags:
        - Auth
      summary: 驗證token
      description: verifyToken
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyTokenSuccssResponse'
        '400':
          description: Error-Response HTTP/1.1 400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyTokenErrorResponse'
      security:
        - BearerAuth: []
  '/admin/v1/channel_store/{channel_store_no}':
    get:
      tags:
        - ChannelStore
      summary: 取得通路店鋪資料
      description: getChannelStore
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelStoreSuccssResponse'
      parameters:
        - in: path
          name: channel_store_no
          schema:
            type: string
          required: true
          description: <p>通路店鋪編號</p>
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - ChannelStore
      summary: 更新通路店鋪資料
      description: putChannelStore
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putChannelStoreSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channel_supplier_no
                - name
                - unified_business_no
                - cooperation_mode
                - address
                - receipt_address
                - contact_info
                - is_effective
              properties:
                channel_supplier_no:
                  type: string
                  description: <p>店舖編號</p>
                name:
                  type: string
                  description: <p>店鋪名稱</p>
                unified_business_no:
                  type: string
                  description: <p>統一編號</p>
                cooperation_mode:
                  type: string
                  description: <p>合作模式</p>
                phone:
                  type: string
                  description: <p>公司電話</p>
                fax:
                  type: string
                  description: <p>公司傳真</p>
                address:
                  type: object
                  description: <p>營業地址</p>
                  required:
                    - zipcode
                    - county
                    - district
                    - address
                  properties:
                    zipcode:
                      type: string
                      description: <p>郵遞區號</p>
                    county:
                      type: string
                      description: <p>縣市</p>
                    district:
                      type: string
                      description: <p>鄉鎮市區</p>
                    address:
                      type: string
                      description: <p>地址</p>
                receipt_address:
                  type: object
                  description: <p>發票地址</p>
                  required:
                    - zipcode
                    - county
                    - district
                    - address
                  properties:
                    zipcode:
                      type: string
                      description: <p>郵遞區號</p>
                    county:
                      type: string
                      description: <p>縣市</p>
                    district:
                      type: string
                      description: <p>鄉鎮市區</p>
                    address:
                      type: string
                      description: <p>地址</p>
                contact_info:
                  type: array
                  description: <p>聯絡人資訊 (1.一定要有一個主要窗口 2.帳務窗口至少要有一個)</p>
                  required:
                    - is_main
                    - type
                    - name
                    - phone
                    - email
                  items:
                    type: object
                    properties:
                      is_main:
                        type: string
                        description: <p>是否為主要窗口</p>
                      type:
                        type: string
                        description: <p>類別 (除了帳務窗口之外，使用者可以自定其他窗口。)</p>
                      name:
                        type: string
                        description: <p>姓名</p>
                      phone:
                        type: string
                        description: <p>電話</p>
                      mobile:
                        type: string
                        description: <p>手機</p>
                      email:
                        type: string
                        description: <p>電子郵件</p>
                bank_info:
                  type: object
                  description: <p>通路銀行帳戶</p>
                  required:
                    - code
                    - name
                    - branch_code
                    - branch_name
                    - account
                    - account_name
                  properties:
                    code:
                      type: string
                      description: <p>銀行代碼</p>
                    name:
                      type: string
                      description: <p>銀行名稱</p>
                    branch_code:
                      type: string
                      description: <p>分行代碼</p>
                    branch_name:
                      type: string
                      description: <p>分行名稱</p>
                    account:
                      type: string
                      description: <p>匯款帳戶</p>
                    account_name:
                      type: string
                      description: <p>匯款帳戶名稱</p>
                is_effective:
                  type: string
                  description: <p>是否生效</p>
                api_key:
                  type: string
                  description: <p>API Key (生效時必填)</p>
                secret_key:
                  type: string
                  description: <p>Secret Key (生效時必填)</p>
                remark:
                  type: string
                  description: <p>備註</p>
                contract_fee_ratio:
                  type: string
                  description: <p>通路合約費用 (如果收費 9.2% 則填入 9.2) (合作模式為採購或寄倉時必填)</p>
                contract_fee_info:
                  type: array
                  description: <p>收費資訊</p>
                  required:
                    - name
                    - ratio
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: <p>收費項目名稱</p>
                      ratio:
                        type: string
                        description: <p>收費比例 (如果收費 9.2% 則填入 9.2)</p>
                warehouse_info:
                  type: array
                  description: <p>倉庫資訊 (合作模式為採購或寄倉時必填)</p>
                  required:
                    - type
                    - name
                    - recipient_name
                    - phone
                    - address
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: <p>類型</p>
                      name:
                        type: string
                        description: <p>倉庫名稱</p>
                      recipient_name:
                        type: string
                        description: <p>收件人姓名</p>
                      phone:
                        type: string
                        description: <p>電話</p>
                      address:
                        type: array
                        description: <p>地址</p>
                        required:
                          - county
                          - district
                          - zipcode
                          - address
                        items:
                          type: object
                          properties:
                            county:
                              type: string
                              description: <p>縣市</p>
                            district:
                              type: string
                              description: <p>鄉鎮市區</p>
                            zipcode:
                              type: string
                              description: <p>郵遞區號</p>
                            address:
                              type: string
                              description: <p>地址</p>
              example:
                channel_supplier_no: UDI102
                name: 七月二十五號第二家店改
                unified_business_no: '16894168'
                cooperation_mode:
                  - PURCHASE
                phone: 0227208889
                fax: '0227200056'
                address:
                  zipcode: '110'
                  county: 台北市
                  district: 信義區
                  address: 市府路1號
                receipt_address:
                  zipcode: '110'
                  county: 台北市
                  district: 信義區
                  address: 市府路1號
                contact_info:
                  - is_main: false
                    type: 業務窗口
                    name: 張三
                    phone: (02)8787-8787轉210
                    mobile: 0905948787
                    email: blue.wang@163.com
                  - is_main: true
                    type: 帳務窗口
                    name: 李四
                    phone: (02)2723-9777轉211
                    mobile: 0934879287
                    email: happy.liu@163.com
                bank_info:
                  code: '700'
                  name: 中華郵政
                  branch_code: '0010'
                  branch_name: 郵政劃撥儲金
                  account: '18898514'
                  account_name: 臺北市政府社會局
                is_effective: false
                api_key: apikey
                secret_key: secretkey
                remark: 備註
                contract_fee_ratio: 10
                contract_fee_info:
                  - name: 其他收費項目一
                    ratio: 5
                warehouse_info:
                  - type:
                      - PURCHASE
                    name: 貳倉
                    recipient_name: 老王
                    phone: 0928000086
                    address:
                      county: 台北市
                      district: 松山區
                      zipcode: '105'
                      address: 南京東路五段135號
      parameters:
        - in: path
          name: channel_store_no
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/channel_store/autocomplete:
    get:
      tags:
        - ChannelStore
      summary: 取得通路店鋪autocomplete
      description: getChannelStoreAutoComplete
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelStoreAutoCompleteSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: key
          schema:
            type: string
          description: <p>搜尋欄位</p>
          required: true
        - in: query
          name: word
          schema:
            type: string
          description: <p>搜尋內容</p>
  '/admin/v1/channel_store/{channel_store_no}/category':
    get:
      tags:
        - ChannelStore
      summary: 取得通路店鋪通路商品分類表的分類資料(整顆樹)
      description: getChannelStoreCategory
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelStoreCategorySuccssResponse'
      parameters:
        - in: path
          name: channel_store_no
          schema:
            type: string
          required: true
          description: <p>通路店鋪編號</p>
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/channel_store/export:
    get:
      tags:
        - ChannelStore
      summary: 匯出通路店鋪資料
      description: getChannelStoreExport
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: data
          schema:
            type: string
          description: '<p>通路店鋪編號(可逗號傳多值，像是：DS00000001,DS00000002)</p>'
          required: true
        - in: query
          name: action_type
          schema:
            type: string
          description: <p>檔案格式</p>
  /admin/v1/channel_store:
    get:
      tags:
        - ChannelStore
      summary: 取得通路店鋪清單
      description: getChannelStoreList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelStoreListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: channel_id
          schema:
            type: string
          description: '<p>通路編號(可逗號傳多值，像是：1,2,3)</p>'
        - in: query
          name: receipt_type
          schema:
            type: string
          description: <p>單據類型</p>
    post:
      tags:
        - ChannelStore
      summary: 建立通路店鋪資料
      description: postChannelStore
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postChannelStoreSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - channel_id
                - channel_supplier_no
                - name
                - unified_business_no
                - cooperation_mode
                - address
                - receipt_address
                - contact_info
                - is_effective
              properties:
                partner_id:
                  type: string
                  description: <p>合作單位編號</p>
                channel_id:
                  type: string
                  description: <p>通路編號</p>
                channel_supplier_no:
                  type: string
                  description: <p>店舖編號</p>
                name:
                  type: string
                  description: <p>店鋪名稱</p>
                unified_business_no:
                  type: string
                  description: <p>統一編號</p>
                cooperation_mode:
                  type: string
                  description: <p>合作模式</p>
                phone:
                  type: string
                  description: <p>公司電話</p>
                fax:
                  type: string
                  description: <p>公司傳真</p>
                address:
                  type: object
                  description: <p>營業地址</p>
                  required:
                    - zipcode
                    - county
                    - district
                    - address
                  properties:
                    zipcode:
                      type: string
                      description: <p>郵遞區號</p>
                    county:
                      type: string
                      description: <p>縣市</p>
                    district:
                      type: string
                      description: <p>鄉鎮市區</p>
                    address:
                      type: string
                      description: <p>地址</p>
                receipt_address:
                  type: object
                  description: <p>發票地址</p>
                  required:
                    - zipcode
                    - county
                    - district
                    - address
                  properties:
                    zipcode:
                      type: string
                      description: <p>郵遞區號</p>
                    county:
                      type: string
                      description: <p>縣市</p>
                    district:
                      type: string
                      description: <p>鄉鎮市區</p>
                    address:
                      type: string
                      description: <p>地址</p>
                contact_info:
                  type: array
                  description: <p>聯絡人資訊 (1.一定要有一個主要窗口 2.帳務窗口至少要有一個)</p>
                  required:
                    - is_main
                    - type
                    - name
                    - phone
                    - email
                  items:
                    type: object
                    properties:
                      is_main:
                        type: string
                        description: <p>是否為主要窗口</p>
                      type:
                        type: string
                        description: <p>類別 (除了帳務窗口之外，使用者可以自定其他窗口。)</p>
                      name:
                        type: string
                        description: <p>姓名</p>
                      phone:
                        type: string
                        description: <p>電話</p>
                      mobile:
                        type: string
                        description: <p>手機</p>
                      email:
                        type: string
                        description: <p>電子郵件</p>
                bank_info:
                  type: object
                  description: <p>通路銀行帳戶</p>
                  required:
                    - code
                    - name
                    - branch_code
                    - branch_name
                    - account
                    - account_name
                  properties:
                    code:
                      type: string
                      description: <p>銀行代碼</p>
                    name:
                      type: string
                      description: <p>銀行名稱</p>
                    branch_code:
                      type: string
                      description: <p>分行代碼</p>
                    branch_name:
                      type: string
                      description: <p>分行名稱</p>
                    account:
                      type: string
                      description: <p>匯款帳戶</p>
                    account_name:
                      type: string
                      description: <p>匯款帳戶名稱</p>
                is_effective:
                  type: string
                  description: <p>是否生效</p>
                api_key:
                  type: string
                  description: <p>API Key (生效時必填)</p>
                secret_key:
                  type: string
                  description: <p>Secret Key (生效時必填)</p>
                remark:
                  type: string
                  description: <p>備註</p>
                contract_fee_ratio:
                  type: string
                  description: <p>通路合約費用 (如果收費 9.2% 則填入 9.2) (合作模式為採購或寄倉時必填)</p>
                contract_fee_info:
                  type: array
                  description: <p>收費資訊</p>
                  required:
                    - name
                    - ratio
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: <p>收費項目名稱</p>
                      ratio:
                        type: string
                        description: <p>收費比例 (如果收費 9.2% 則填入 9.2)</p>
                warehouse_info:
                  type: array
                  description: <p>倉庫資訊 (合作模式為採購或寄倉時必填)</p>
                  required:
                    - type
                    - name
                    - recipient_name
                    - phone
                    - address
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: <p>類型</p>
                      name:
                        type: string
                        description: <p>倉庫名稱</p>
                      recipient_name:
                        type: string
                        description: <p>收件人姓名</p>
                      phone:
                        type: string
                        description: <p>電話</p>
                      address:
                        type: array
                        description: <p>地址</p>
                        required:
                          - county
                          - district
                          - zipcode
                          - address
                        items:
                          type: object
                          properties:
                            county:
                              type: string
                              description: <p>縣市</p>
                            district:
                              type: string
                              description: <p>鄉鎮市區</p>
                            zipcode:
                              type: string
                              description: <p>郵遞區號</p>
                            address:
                              type: string
                              description: <p>地址</p>
              example:
                partner_id: 1
                channel_id: 2
                channel_supplier_no: UDI102
                name: 七月二十五號第二家店
                unified_business_no: '16894168'
                cooperation_mode:
                  - PURCHASE
                phone: 0227208889
                fax: '0227200056'
                address:
                  zipcode: '110'
                  county: 台北市
                  district: 信義區
                  address: 市府路1號
                receipt_address:
                  zipcode: '110'
                  county: 台北市
                  district: 信義區
                  address: 市府路1號
                contact_info:
                  - is_main: false
                    type: 業務窗口
                    name: 張三
                    phone: (02)8787-8787轉210
                    mobile: 0905948787
                    email: blue.wang@163.com
                  - is_main: true
                    type: 帳務窗口
                    name: 李四
                    phone: (02)2723-9777轉211
                    mobile: 0934879287
                    email: happy.liu@163.com
                bank_info:
                  code: '700'
                  name: 中華郵政
                  branch_code: '0010'
                  branch_name: 郵政劃撥儲金
                  account: '18898514'
                  account_name: 臺北市政府社會局
                is_effective: false
                api_key: apikey
                secret_key: secretkey
                remark: 備註
                contract_fee_ratio: 10
                contract_fee_info:
                  - name: 其他收費項目一
                    ratio: 5
                warehouse_info:
                  - type:
                      - PURCHASE
                    name: 貳倉
                    recipient_name: 老王
                    phone: 0928000086
                    address:
                      county: 台北市
                      district: 松山區
                      zipcode: '105'
                      address: 南京東路五段135號
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/channel_store/{channel_store_no}/file':
    post:
      tags:
        - ChannelStore
      summary: 匯入通路店鋪(商品編號對照表、通路商品分類表)
      description: posChannelStoreFile
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/posChannelStoreFileSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - action_type
                - file
              properties:
                partner_id:
                  type: string
                  description: <p>合作單位編號</p>
                action_type:
                  type: string
                  description: <p>上傳類型</p>
                file:
                  type: string
                  description: <p>上傳檔案</p>
      parameters:
        - in: path
          name: channel_store_no
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/channel_store/file/{import_log_id}':
    put:
      tags:
        - ChannelStore
      summary: 上傳檔案(確認)
      description: putChannelStoreFile
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putChannelStoreFileSuccssResponse'
      parameters:
        - in: path
          name: import_log_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/channel/autocomplete:
    get:
      tags:
        - Channel
      summary: 取得通路autocomplete
      description: getChannelAutoComplete
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelAutoCompleteSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: key
          schema:
            type: string
          description: <p>搜尋欄位</p>
          required: true
        - in: query
          name: word
          schema:
            type: string
          description: <p>搜尋內容</p>
  /admin/v1/channel:
    get:
      tags:
        - Channel
      summary: 取得通路清單
      description: getChannelList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getChannelListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
  /admin/v1/common/bank_list:
    get:
      tags:
        - Common
      summary: 取得銀行代碼、銀行名稱清單
      description: getCommonBankList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCommonBankListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/common/review_id:
    get:
      tags:
        - Common
      summary: 取得審核人員
      description: getCommonReviewId
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCommonReviewIdSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: type
          schema:
            type: string
          description: <p>序號類型</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: level
          schema:
            type: string
          description: <p>審核階段</p>
          required: true
  /admin/v1/common/zip_code:
    get:
      tags:
        - Common
      summary: 取得郵遞區號
      description: getCommonZipCode
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCommonZipCodeSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/common/image:
    post:
      tags:
        - Common
      summary: 上傳單一圖片
      description: postCommonImage
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postCommonImageSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  description: <p>圖檔檔案位置</p>
                is_verify:
                  type: string
                  description: '<p>是否為商品主圖(true:驗證尺寸, false:僅基本驗證)</p>'
              example:
                image: ...file...
                is_verify: true
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/common/sequence_no:
    post:
      tags:
        - Common
      summary: 取得序號
      description: postCommonSequenceNo
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postCommonSequenceNoSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  description: <p>序號類型</p>
              example:
                type: PURCHASE
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/employee:
    delete:
      tags:
        - Employee
      summary: 刪除管理者資料
      description: deleteEmployee
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteEmployeeSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - employee_id
              properties:
                employee_id:
                  type: array
                  description: <p>序號</p>
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    get:
      tags:
        - Employee
      summary: 取得管理者列表
      description: getEmployeeList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmployeeListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位序號</p>
          required: true
        - in: query
          name: keyword_type
          schema:
            type: string
          description: <p>關鍵字欄位</p>
        - in: query
          name: keyword
          schema:
            type: string
          description: <p>搜尋內容</p>
        - in: query
          name: type
          schema:
            type: string
          description: <p>帳號等級</p>
        - in: query
          name: status
          schema:
            type: string
          description: <p>狀態</p>
        - in: query
          name: limit
          schema:
            type: string
          description: <p>顯示筆數</p>
        - in: query
          name: current_page
          schema:
            type: string
          description: <p>當前頁碼</p>
        - in: query
          name: sort
          schema:
            type: string
          description: <p>排序方式</p>
        - in: query
          name: order_by
          schema:
            type: string
          description: <p>排序欄位</p>
        - in: query
          name: started_at
          schema:
            type: string
          description: <p>開始時間</p>
        - in: query
          name: ended_at
          schema:
            type: string
          description: <p>結束時間</p>
    post:
      tags:
        - Employee
      summary: 新增管理者資料
      description: postEmployee
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postEmployeeSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - account
                - password
                - name
                - email
                - type
                - is_mask
              properties:
                partner_id:
                  type: string
                  description: <p>合作店家id</p>
                account:
                  type: string
                  description: <p>帳號</p>
                password:
                  type: string
                  description: <p>密碼</p>
                name:
                  type: string
                  description: <p>姓名</p>
                email:
                  type: string
                  description: <p>電子郵件</p>
                type:
                  type: string
                  description: <p>帳號等級</p>
                is_mask:
                  type: string
                  description: <p>機敏檢視</p>
                is_activated:
                  type: string
                  description: <p>使用狀態</p>
                auth_group_id:
                  type: string
                  description: <p>權限群組編號</p>
                navigation_info:
                  type: string
                  description: <p>可管理功能列表</p>
                channel_info:
                  type: string
                  description: <p>可管理通路列表</p>
              example:
                partner_id: '1'
                account: tester
                password: '2345'
                name: '11111'
                email: 123@gmail.com
                type: CLERK
                is_mask: false
                is_activated: false
                auth_group_id: ''
                navigation_info:
                  proman:
                    - VIEW
                    - REVIEW
                  venman:
                    - VIEW
                channel_info:
                  - 1
                  - 2
                  - 4
                  - 5
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/employee/{employee_id}':
    get:
      tags:
        - Employee
      summary: 取得單一管理者資料
      description: getEmployee
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmployeeSuccssResponse'
      parameters:
        - in: path
          name: employee_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - Employee
      summary: 更新管理者資料
      description: putEmployee
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putEmployeeSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: <p>姓名</p>
                email:
                  type: string
                  description: <p>電子郵件</p>
                type:
                  type: string
                  description: <p>帳號等級</p>
                is_mask:
                  type: string
                  description: <p>機敏檢視</p>
                is_activated:
                  type: string
                  description: <p>使用狀態</p>
                auth_group_id:
                  type: string
                  description: <p>權限群組編號</p>
                navigation_info:
                  type: string
                  description: <p>可管理功能列表</p>
                channel_info:
                  type: string
                  description: <p>可管理通路列表</p>
              example:
                name: DDDD
                email: tester@gmail.com
                type: SYSTEM_EMPLOYEE
                is_mask: true
                is_activated: false
                auth_group_id: ''
                navigation_info:
                  '1':
                    - DELETE
                    - REVIEW
                    - IMPORT
                  '2':
                    - DELETE
                    - EDIT
                channel_info:
                  - 1
                  - 2
                  - 4
                  - 5
      parameters:
        - in: path
          name: employee_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/employee/autocomplete:
    get:
      tags:
        - Employee
      summary: 取得管理者autocomplete
      description: getEmployeeAutoComplete
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEmployeeAutoCompleteSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: key
          schema:
            type: string
          description: <p>搜尋欄位</p>
          required: true
        - in: query
          name: value
          schema:
            type: string
          description: <p>搜尋內容</p>
  /admin/v1/employee/me:
    get:
      tags:
        - Employee
      summary: 取得個人帳號資料
      description: getMe
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMeSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - Employee
      summary: 更新個人帳號資料
      description: putMe
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putMeSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                  description: <p>姓名</p>
                email:
                  type: string
                  description: <p>電子郵件</p>
              example:
                name: tester
                email: tester@gmail.com
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/employee/initial:
    get:
      tags:
        - Employee
      summary: 取得登入者的資料
      description: getiInitial
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getiInitialSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/employee/password:
    put:
      tags:
        - Employee
      summary: 更新個人密碼
      description: putMePassword
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putMePasswordSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - old_password
                - password
              properties:
                old_password:
                  type: string
                  description: <p>舊密碼</p>
                password:
                  type: string
                  description: <p>密碼</p>
              example:
                old_password: '123'
                password: '456'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/import_log_dos:
    get:
      tags:
        - ImportLog
      summary: 匯入紀錄查詢
      description: getImportLogList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getImportLogListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: type
          schema:
            type: string
          description: <p>類型</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: current_page
          schema:
            type: string
          description: <p>當前頁碼</p>
        - in: query
          name: limit
          schema:
            type: string
          description: <p>顯示筆數</p>
  /admin/v1/navigation:
    get:
      tags:
        - Navigation
      summary: 功能模組列表
      description: getNavigationList
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
    put:
      tags:
        - Navigation
      summary: 排列功能模組
      description: putNavigationSort
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
  /admin/v1/navigation/tree:
    get:
      tags:
        - Navigation
      summary: 功能模組結構
      description: getNavigationStruct
      responses:
        '200':
          description: undefined 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/undefinition_response'
  /admin/v1/partner:
    get:
      tags:
        - Partner
      summary: 取得合作單位清單
      description: getPartnerList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPartnerListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/product_dos/{product_id}':
    delete:
      tags:
        - Product
      summary: 刪除商品
      description: deleteProduct
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteProductSuccssResponse'
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    get:
      tags:
        - Product
      summary: 取得商品(單筆)
      description: getProduct
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductSuccssResponse'
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - Product
      summary: 更新商品
      description: putProduct
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putProductSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - is_set
                - sale_type
                - original_product_no
                - shipping_method
                - shipping_location
                - temperature_layer
                - product_detail_type_id
              properties:
                partner_id:
                  type: string
                  description: <p>合作單位編號</p>
                is_set:
                  type: string
                  description: <p>是否為組合</p>
                sale_type:
                  type: string
                  description: <p>銷售狀態</p>
                name:
                  type: string
                  description: <p>商品名稱</p>
                brand_name:
                  type: string
                  description: <p>品牌名稱(當為一般商品時必填)</p>
                model_name:
                  type: string
                  description: <p>型號</p>
                spec_name:
                  type: string
                  description: <p>規格</p>
                original_place:
                  type: string
                  description: <p>原產地</p>
                original_product_no:
                  type: string
                  description: <p>原廠商品料號</p>
                vendor_id:
                  type: string
                  description: <p>供貨商編號(當為一般商品時必填)</p>
                brand_company_name:
                  type: string
                  description: <p>品牌公司名稱</p>
                started_at:
                  type: string
                  description: '<p>銷售開始日期(ex:2019-01-01 23:59:59)</p>'
                ended_at:
                  type: string
                  description: '<p>銷售停止日期(ex:2019-01-01 23:59:59)</p>'
                market_price:
                  type: string
                  description: <p>市價</p>
                proposed_price:
                  type: string
                  description: <p>建議售價</p>
                cost:
                  type: string
                  description: <p>成本(可到小數兩位)</p>
                discount_price:
                  type: string
                  description: <p>促銷售價</p>
                minimum_discount_price:
                  type: string
                  description: <p>最低促銷價</p>
                input_tax:
                  type: string
                  description: <p>進項稅別</p>
                output_tax:
                  type: string
                  description: <p>銷項稅別</p>
                stock_unit_id:
                  type: string
                  description: <p>庫存單位編號</p>
                safety_stock:
                  type: string
                  description: <p>安全存量</p>
                box_stock_unit_id:
                  type: string
                  description: <p>箱入數單位編號(原廠單位)</p>
                box_quantity:
                  type: string
                  description: <p>箱入數數量(必須大於1)</p>
                shelf_life:
                  type: string
                  description: <p>保存期限</p>
                ean:
                  type: string
                  description: <p>商品國際條碼</p>
                box_ean:
                  type: string
                  description: <p>外箱國際條碼</p>
                length:
                  type: string
                  description: <p>商品長</p>
                width:
                  type: string
                  description: <p>商品寬</p>
                height:
                  type: string
                  description: <p>商品高</p>
                weight:
                  type: string
                  description: <p>商品重量</p>
                box_length:
                  type: string
                  description: <p>外箱長</p>
                box_width:
                  type: string
                  description: <p>外箱寬</p>
                box_height:
                  type: string
                  description: <p>外箱高</p>
                box_weight:
                  type: string
                  description: <p>重量含外箱</p>
                shipping_method:
                  type: string
                  description: <p>配送方式</p>
                shipping_location:
                  type: string
                  description: <p>配送地點</p>
                temperature_layer:
                  type: string
                  description: <p>溫層</p>
                product_detail_type_id:
                  type: string
                  description: <p>商品類型序號</p>
                material:
                  type: string
                  description: <p>材質</p>
                margin:
                  type: string
                  description: <p>商品利潤率(若為15%則傳入15)</p>
                image:
                  type: string
                  description: <p>商品圖片</p>
                  required:
                    - id
                    - sort
                  properties:
                    id:
                      type: string
                      description: <p>圖片編號</p>
                    sort:
                      type: string
                      description: <p>圖片順序</p>
                google_image:
                  type: string
                  description: <p>google圖片為第幾張</p>
                introdution:
                  type: string
                  description: <p>商品主賣點</p>
                description:
                  type: string
                  description: <p>商品介紹</p>
                sub_product_info:
                  type: string
                  description: <p>子商品資料(當為組合商品時必填)</p>
                  required:
                    - product_id
                    - quantity
                  properties:
                    product_id:
                      type: string
                      description: <p>商品序號</p>
                    quantity:
                      type: string
                      description: <p>組成量</p>
                category_id:
                  type: string
                  description: <p>分類編號(只需要最後一個分類編號)</p>
              example:
                is_set: false
                partner_id: '1234'
                sale_type: SALE
                name: 這是商品名稱
                brand_name: 這是品牌
                model_name: 這是型號
                spec_name: 這是規格
                original_place: 這是原產地
                original_product_no: 這是原廠商品料號
                vendor_id: '789'
                brand_company_name: 這是品牌公司名
                started_at: '2019-01-01'
                ended_at: '2019-02-02'
                market_price: '500'
                proposed_price: '400'
                cost: '100'
                discount_price: '200'
                minimum_discount_price: '150'
                input_tax: TAXABLE
                output_tax: TAXABLE
                stock_unit_id: '8'
                safety_stock: '10'
                box_stock_unit_id: '8'
                box_quantity: '10'
                shelf_life: 一年
                ean: '1234560000001'
                box_ean: '1234560000001'
                length: '10'
                width: '10'
                height: '10'
                weight: '10'
                box_length: '10'
                box_width: '10'
                box_height: '10'
                box_weight: '10'
                shipping_method:
                  - HOME_DELIVERY
                  - CONVENIENCE_STORE
                shipping_location:
                  - MAIN
                  - OUTLYING
                temperature_layer: NORMAL
                image:
                  - id: '1'
                    sort: '1'
                google_image: '1'
                introdution: 這是商品簡介
                description: 這是詳細描述
                sub_product_info:
                  - product_id: '999'
                    quantity: '2'
                product_detail_type_id: '1'
                material: 棉
                margin: '15'
                category_id: '1'
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/product_dos/autocomplete:
    get:
      tags:
        - Product
      summary: 商品autocomplete
      description: getProductAutocomplete
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductAutocompleteSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: key
          schema:
            type: string
          description: <p>搜尋欄位</p>
          required: true
        - in: query
          name: word
          schema:
            type: string
          description: <p>搜尋內容</p>
        - in: query
          name: vendor_id
          schema:
            type: string
          description: <p>供貨商編號(可逗號多組)(只在key為品牌名稱時會用到，在促銷選品頁中，供貨商下拉式有值時帶入)</p>
        - in: query
          name: is_set
          schema:
            type: string
          description: <p>是否為組合(只在key為商品編號時會用到，商品清單或是組合品清單，要帶入這個值)</p>
  /admin/v1/product/detail_type:
    get:
      tags:
        - Product
      summary: 商品(詳細)類型清單
      description: getProductDetailType
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductDetailTypeSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
  /admin/v1/product_dos/export:
    get:
      tags:
        - Product
      summary: 匯出商品檔案
      description: getProductExport
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductExportSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: type
          schema:
            type: string
          description: <p>檔案格式</p>
          required: true
        - in: query
          name: data
          schema:
            type: string
          description: '<p>欲匯出商品序號(product_id，商品編號用逗點格開ex 1,2,3,4,5)</p>'
          required: true
  /admin/v1/product_dos:
    get:
      tags:
        - Product
      summary: 取得商品清單
      description: getProductList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getProductListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: is_set
          schema:
            type: string
          description: '<p>是否為組合商品(包含組合商品:不帶此欄位,不包含組合商品:false)</p>'
        - in: query
          name: sale_type
          schema:
            type: string
          description: <p>銷售狀態(可逗號傳多值)</p>
        - in: query
          name: product_no
          schema:
            type: string
          description: '<p>商品編號(可逗號傳多值 ex:1,2,3,4)</p>'
        - in: query
          name: brand_name
          schema:
            type: string
          description: <p>品牌名稱(可逗號傳多值)</p>
        - in: query
          name: brand_company_name
          schema:
            type: string
          description: <p>品牌公司名稱(可逗號傳多值)</p>
        - in: query
          name: vendor_id
          schema:
            type: string
          description: <p>供貨商編號（可逗號多值）</p>
        - in: query
          name: vendor_alias_name
          schema:
            type: string
          description: <p>供貨商簡稱(可逗號傳多值)</p>
        - in: query
          name: original_product_no
          schema:
            type: string
          description: <p>原廠商品料號(可逗號傳多值)</p>
        - in: query
          name: name
          schema:
            type: string
          description: <p>商品名稱(可逗號傳多值)</p>
        - in: query
          name: is_lower_safety_stock
          schema:
            type: string
          description: <p>是否撈最低庫存(正常為false，低庫存為true)</p>
        - in: query
          name: category_id
          schema:
            type: string
          description: <p>分類編號(只需要最後一個分類編號)</p>
        - in: query
          name: ean
          schema:
            type: string
          description: <p>國際條碼陣列(可逗號傳多值)</p>
        - in: query
          name: product_detail_type_id
          schema:
            type: string
          description: <p>商品類型序號</p>
        - in: query
          name: started_at
          schema:
            type: string
          description: '<p>建檔開始日期(ex: 2019-01-01)</p>'
        - in: query
          name: ended_at
          schema:
            type: string
          description: '<p>建檔結束日期(ex: 2019-01-01)</p>'
        - in: query
          name: current_page
          schema:
            type: string
          description: <p>當前頁碼</p>
        - in: query
          name: limit
          schema:
            type: string
          description: <p>顯示筆數(沒填且is_paginate帶true或沒帶時，會預設為20)</p>
        - in: query
          name: sort
          schema:
            type: string
          description: <p>排序方式(若有下排序欄位但沒有下排序方式，預設為DESC)</p>
        - in: query
          name: order_by
          schema:
            type: string
          description: <p>排序欄位</p>
        - in: query
          name: channel_store_no
          schema:
            type: string
          description: <p>通路店鋪編號(促銷挑品時必填)</p>
        - in: query
          name: is_paginate
          schema:
            type: string
          description: <p>是否要分頁(若不需要分頁請帶false。沒帶或帶true，且limit也沒帶的時候limit預設20)</p>
    post:
      tags:
        - Product
      summary: 新增商品
      description: postProduct
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postProductSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - is_set
                - sale_type
                - product_no
                - name
                - original_product_no
                - market_price
                - proposed_price
                - cost
                - stock_unit_id
                - box_stock_unit_id
              properties:
                partner_id:
                  type: string
                  description: <p>合作單位編號</p>
                is_set:
                  type: string
                  description: <p>是否為組合</p>
                sale_type:
                  type: string
                  description: <p>銷售狀態</p>
                product_no:
                  type: string
                  description: <p>商品編號</p>
                name:
                  type: string
                  description: <p>商品名稱</p>
                brand_name:
                  type: string
                  description: <p>品牌名稱(當為一般商品時必填)</p>
                model_name:
                  type: string
                  description: <p>型號</p>
                spec_name:
                  type: string
                  description: <p>規格</p>
                original_place:
                  type: string
                  description: <p>原產地</p>
                original_product_no:
                  type: string
                  description: <p>原廠商品料號</p>
                vendor_id:
                  type: string
                  description: <p>供貨商編號(當為一般商品時必填)</p>
                brand_company_name:
                  type: string
                  description: <p>品牌公司名稱</p>
                started_at:
                  type: string
                  description: '<p>銷售開始日期(ex:2019-01-01 23:59:59)</p>'
                ended_at:
                  type: string
                  description: '<p>銷售停止日期(ex:2019-01-01 23:59:59)</p>'
                market_price:
                  type: string
                  description: <p>市價</p>
                proposed_price:
                  type: string
                  description: <p>建議售價</p>
                cost:
                  type: string
                  description: <p>成本(可到小數兩位)</p>
                discount_price:
                  type: string
                  description: <p>促銷售價</p>
                minimum_discount_price:
                  type: string
                  description: <p>最低促銷價</p>
                input_tax:
                  type: string
                  description: <p>進項稅別</p>
                output_tax:
                  type: string
                  description: <p>銷項稅別</p>
                stock_unit_id:
                  type: string
                  description: <p>庫存單位編號</p>
                safety_stock:
                  type: string
                  description: <p>安全存量</p>
                box_stock_unit_id:
                  type: string
                  description: <p>箱入數單位編號(原廠單位)</p>
                box_quantity:
                  type: string
                  description: <p>箱入數數量(必須大於1)</p>
                shelf_life:
                  type: string
                  description: <p>保存期限</p>
                ean:
                  type: string
                  description: <p>商品國際條碼</p>
                box_ean:
                  type: string
                  description: <p>外箱國際條碼</p>
                length:
                  type: string
                  description: <p>商品長</p>
                width:
                  type: string
                  description: <p>商品寬</p>
                height:
                  type: string
                  description: <p>商品高</p>
                weight:
                  type: string
                  description: <p>商品重量</p>
                box_length:
                  type: string
                  description: <p>外箱長</p>
                box_width:
                  type: string
                  description: <p>外箱寬</p>
                box_height:
                  type: string
                  description: <p>外箱高</p>
                box_weight:
                  type: string
                  description: <p>重量含外箱</p>
                shipping_method:
                  type: string
                  description: <p>配送方式</p>
                shipping_location:
                  type: string
                  description: <p>配送地點</p>
                temperature_layer:
                  type: string
                  description: <p>溫層</p>
                product_detail_type_id:
                  type: string
                  description: <p>商品類型序號(為一般商品時必填)</p>
                material:
                  type: string
                  description: <p>材質</p>
                margin:
                  type: string
                  description: <p>商品利潤率(若為15%則傳入15)</p>
                image:
                  type: string
                  description: <p>商品圖片</p>
                  required:
                    - id
                    - sort
                  properties:
                    id:
                      type: string
                      description: <p>圖片編號</p>
                    sort:
                      type: string
                      description: <p>圖片順序</p>
                google_image:
                  type: string
                  description: <p>google圖片為第幾張</p>
                introdution:
                  type: string
                  description: <p>商品主賣點</p>
                description:
                  type: string
                  description: <p>商品介紹</p>
                sub_product_info:
                  type: string
                  description: <p>子商品資料(當為組合商品時必填)</p>
                  required:
                    - product_id
                    - quantity
                  properties:
                    product_id:
                      type: string
                      description: <p>商品序號</p>
                    quantity:
                      type: string
                      description: <p>組成量</p>
                category_id:
                  type: string
                  description: <p>分類編號(只需要最後一個分類編號)</p>
              example:
                is_set: false
                partner_id: '1234'
                sale_type: SALE
                product_no: S55669988
                name: 這是商品名稱
                brand_name: 這是品牌
                model_name: 這是型號
                spec_name: 這是規格
                original_place: 這是原產地
                original_product_no: 這是原廠商品料號
                vendor_id: '789'
                brand_company_name: 這是品牌公司名
                started_at: '2019-01-01'
                ended_at: '2019-02-02'
                market_price: '500'
                proposed_price: '400'
                cost: '100'
                discount_price: '200'
                minimum_discount_price: '150'
                input_tax: TAXABLE
                output_tax: TAXABLE
                stock_unit_id: '8'
                safety_stock: '10'
                box_stock_unit_id: '8'
                box_quantity: '10'
                shelf_life: 一年
                ean: '1234560000001'
                box_ean: '1234560000001'
                length: '10'
                width: '10'
                height: '10'
                weight: '10'
                box_length: '10'
                box_width: '10'
                box_height: '10'
                box_weight: '10'
                shipping_method:
                  - HOME_DELIVERY
                  - CONVENIENCE_STORE
                shipping_location:
                  - MAIN
                  - OUTLYING
                temperature_layer: NORMAL
                image:
                  - id: '1'
                    sort: '1'
                  - id: '2'
                    sort: '2'
                google_image: '1'
                introdution: 這是商品簡介
                description: 這是詳細描述
                sub_product_info:
                  - product_id: '999'
                    quantity: '2'
                product_detail_type_id: '1'
                material: 棉
                margin: '15'
                category_id: '1'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - Product
      summary: 修改商品銷售類型
      description: putProductSaleType
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putProductSaleTypeSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - action
              properties:
                product_id:
                  type: string
                  description: <p>商品序號陣列</p>
                action:
                  type: string
                  description: <p>執行的操作</p>
              example:
                product_id:
                  - 1
                  - 2
                  - 3
                  - 4
                action: SALE
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/product_dos/sub:
    get:
      tags:
        - Product
      summary: 取得子商品清單
      description: getSubProduct
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSubProductSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: product_id
          schema:
            type: string
          description: '<p>商品序號多筆查詢(用逗號隔開 ex:1,2,3,4,5)</p>'
        - in: query
          name: product_no
          schema:
            type: string
          description: <p>商品編號</p>
        - in: query
          name: name
          schema:
            type: string
          description: <p>商品名稱</p>
        - in: query
          name: brand_name
          schema:
            type: string
          description: <p>品牌名稱</p>
        - in: query
          name: current_page
          schema:
            type: string
          description: <p>當前頁碼</p>
        - in: query
          name: limit
          schema:
            type: string
          description: <p>顯示筆數</p>
        - in: query
          name: sort
          schema:
            type: string
          description: <p>排序方式</p>
  /admin/v1/product/channel/export:
    post:
      tags:
        - Product
      summary: 匯出商品通路提品檔
      description: postChannelProductExport
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postChannelProductExportSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channel_store_no
                - action_type
                - is_including_image
                - product
              properties:
                channel_store_no:
                  type: string
                  description: <p>通路店鋪編號</p>
                action_type:
                  type: string
                  description: <p>匯出類型</p>
                is_including_image:
                  type: string
                  description: <p>是否包含圖片</p>
                shipping_period:
                  type: string
                  description: <p>配送時段(為udn時必填)</p>
                shipping_type:
                  type: string
                  description: <p>出貨別(為udn時必填)</p>
                is_imei:
                  type: string
                  description: <p>是否刷IMEI碼或機身序號(為udn時必填)</p>
                is_electric:
                  type: string
                  description: <p>是否為四機(大家電)(為udn時必填)</p>
                product:
                  type: string
                  description: <p>商品資訊</p>
                  required:
                    - product_id
                    - channel_cost
                    - available_quantity
                    - sale_slogan
                    - accessories
                  properties:
                    product_id:
                      type: string
                      description: <p>商品序號</p>
                    channel_cost:
                      type: string
                      description: <p>通路成本價</p>
                    staff_cost:
                      type: string
                      description: <p>員工成本價(為udn時必填)</p>
                    shop_id:
                      type: string
                      description: <p>館(僅udn有)</p>
                    large_id:
                      type: string
                      description: <p>大分類(僅udn有)</p>
                    middle_id:
                      type: string
                      description: <p>中分類(僅udn有)</p>
                    small_id:
                      type: string
                      description: <p>小分類(僅udn有)</p>
                    micro_id:
                      type: string
                      description: <p>微分類(僅udn有)</p>
                    available_quantity:
                      type: string
                      description: <p>可銷售數量</p>
                    warning_quantity:
                      type: string
                      description: <p>警示量(為udn時必填)</p>
                    sale_slogan:
                      type: string
                      description: <p>銷售口號</p>
                    accessories:
                      type: string
                      description: <p>配件資訊</p>
              example:
                action_type: UDN
                is_including_image: true
                shipping_period: '1'
                shipping_type: C
                is_imei: true
                is_electric: false
                channel_store_no: ABCDE
                product:
                  - product_id: '12'
                    channel_cost: '1000'
                    staff_cost: '500'
                    shop_id: '1'
                    large_id: '2'
                    middle_id: '33'
                    small_id: ''
                    micro_id: ''
                    available_quantity: '100'
                    warning_quantity: '10'
                    accessories: 配件資訊
                    sale_slogan: 銷售標語
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/product_dos/file:
    post:
      tags:
        - Product
      summary: 上傳商品檔案
      description: postProductFile
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postProductFileSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - partner_id
                - file
                - action_type
              properties:
                partner_id:
                  type: string
                  description: <p>合作單位編號</p>
                file:
                  type: string
                  description: <p>上傳的檔案</p>
                action_type:
                  type: string
                  description: <p>上傳類型</p>
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/product/file/{import_log_id}':
    put:
      tags:
        - Product
      summary: 上傳檔案(確認)
      description: putProductFile
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putProductFileSuccssResponse'
      parameters:
        - in: path
          name: import_log_id
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/promotion/{promotion_no}/export':
    get:
      tags:
        - Promotion
      summary: 匯出促銷活動提品檔
      description: exportPromotion
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportPromotionSuccssResponse'
      parameters:
        - in: path
          name: promotion_no
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  '/admin/v1/promotion/{promotion_no}':
    get:
      tags:
        - Promotion
      summary: 取得促銷(單筆)
      description: getPromotion
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPromotionSuccssResponse'
      parameters:
        - in: path
          name: promotion_no
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
    put:
      tags:
        - Promotion
      summary: 修改促銷
      description: putPromotion
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/putPromotionSuccssResponse'
      requestBody:
        description: request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channel_store_no
                - is_review
                - product_info
              properties:
                channel_store_no:
                  type: string
                  description: <p>通路店鋪編號</p>
                remark:
                  type: string
                  description: <p>備註</p>
                is_review:
                  type: string
                  description: <p>是否送審</p>
                product_info:
                  type: array
                  description: <p>商品資料</p>
                  required:
                    - product_id
                    - price
                    - promotion_gross_profit_margin
                    - cost
                    - price_diff
                    - start_date
                    - end_date
                  items:
                    type: object
                    properties:
                      product_id:
                        type: string
                        description: <p>商品序號</p>
                      price:
                        type: string
                        description: <p>促銷價(若為送審必填)</p>
                      promotion_gross_profit_margin:
                        type: string
                        description: <p>促銷毛利(若為送審必填)</p>
                      cost:
                        type: string
                        description: <p>通路促銷成本(若為送審必填)</p>
                      price_diff:
                        type: string
                        description: <p>原廠價差(若為送審必填)(至多小數兩位)</p>
                      start_date:
                        type: string
                        description: '<p>促銷開始時間(若為送審必填)(ex:2019-01-01)</p>'
                      end_date:
                        type: string
                        description: '<p>促銷結束時間(若為送審必填)(ex:2019-01-01)</p>'
              example:
                channel_store_no: DS132
                product_info:
                  - product_id: '1'
                    price: '100'
                    promotion_gross_profit_margin: '50'
                    cost: '100'
                    price_diff: '20.99'
                    start_date: '2019-01-01'
                    end_date: '2019-02-01'
                remark: 這是備註
                is_review: false
      parameters:
        - in: path
          name: promotion_no
          schema:
            type: string
          description: 文件缺少 path 參數！！！！！！！！！！！！！
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
  /admin/v1/promotion/autocomplete:
    get:
      tags:
        - Promotion
      summary: 促銷autocomplete
      description: getPromotionAutocomplete
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPromotionAutocompleteSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: key
          schema:
            type: string
          description: <p>搜尋欄位</p>
          required: true
        - in: query
          name: word
          schema:
            type: string
          description: <p>搜尋內容</p>
  /admin/v1/promotion:
    get:
      tags:
        - Promotion
      summary: 取得促銷清單
      description: getPromotionList
      responses:
        '200':
          description: HTTP/1.1 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPromotionListSuccssResponse'
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
          description: <p>使用者Token</p>
          required: true
        - in: query
          name: partner_id
          schema:
            type: string
          description: <p>合作單位編號</p>
          required: true
        - in: query
          name: review_status
          schema:
            type: string
          description: <p>審核狀態</p>
        - in: query
          name: promotion_no
          schema:
            type: string
          description: <p>促銷單編號(精準，可逗號多筆)</p>
        - in: query
          name: channel_store_no
          schema:
            type: string
          description: <p>通路店鋪編號(精準)</p>
        - in: query
          name: product_no
          schema:
            type: string
[...]
